# Le répertoire contenant les exécutables
partage/tunnel64/bin

# Le répertoire contenant les objets lors de la compilation
partage/tunnel64/obj

# Fichiers propres à Vagrant
VM*/.vagrant

# Fichiers propres à vscode
.vscode

# Fichiers de build LaTeX
docs/*.aux
docs/*.log
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
docs/*.toc