# Le répertoire contenant les exécutables
partage/bin

# Le répertoire contenant les objets lors de la compilation
partage/obj

# Fichiers propres à Vagrant
VM*/.vagrant

# Fichiers propres à vscode
.vscode